<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="refresh" content="60" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <style type="text/tailwindcss">
    @layer utilities {
      *::-webkit-scrollbar {
        display: none;
      }

      * {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }
    .h-screen {
      height: 100vh; /* Fallback for browsers that do not support Custom Properties */
      height: calc(var(--vh, 1vh) * 100);
    }
  </style>
  <script>
    document.documentElement.style.setProperty(
      "--vh",
      window.innerHeight * 0.01 + "px"
    );
  </script>
  <body
    class="h-screen flex flex-col justify-between bg-black text-orange-400 sm:text-3xl xl:text-6xl"
  >
    <form
      class="z-20 pt-2 px-2 w-full items-center bg-black fixed flex gap-x-2 justify-between mx-auto"
      action="search"
      method="get"
    >
      <a href="/">
        <button
          type="button"
          class="bg-orange-400 text-black px-2 py-1"
          type="submit"
        >
        home
        </button></a
      >
      <input
        class="px-2 py-1 w-full"
        type="text"
        id="autocomplete"
        name="q"
        placeholder="search a station"
      />
      <button class="bg-orange-400 text-black px-2 py-1" type="submit">
        search
      </button>
    </form>
    <div class="px-2">{% block content %}{% endblock %}</div>
  </body>
</html>
<style>
  body {
    font-family: "Electronic Highway sign" !important;
  }
  @font-face {
    font-family: "Electronic Highway Sign";
    src: url("/static/EHSMB.TTF");
  }
</style>
<!-- https://www.mvg.de/api/fahrinfo/location/nearby?latitude=48.1562732&longitude=11.5389234 -->
<!-- una pagina per cercare le fermate -->
<!-- pagina della fermata con tanto di  nome -->
<!-- bottoni con i preferiti sotto
-->
