{% extends 'base.html' %} {% block content %}
<div class="mt-12">
  <h1 class="text-orange-400 text-2xl">FAVORITES</h1>
  <ul id="favorites"></ul>
</div>

<script>
  var ul = document.getElementById("favorites");
  const favorites = localStorage.getItem("favorites");
  var array = JSON.parse(favorites);
  name = "";
  array.forEach((element) => {
    fetch(`https://www.mvg.de/api/fahrinfo/location/query?q=${element}`)
      .then((response) => response.json())
      .then((j) => {
        name = j.locations[0].name;
        ul.innerHTML += `<li> <a class="underline" href="/${element}?name=${name}">${element} - ${name} </a></li>`;
      });
  });
</script>
{% endblock %}
